VITE_API_BASE_URL=https://URL_DA_API
VITE_USE_DEMO_DATA=false
VITE_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_DEFAULT_COUNTRY=BR
VITE_DEV_API_PROXY_TARGET=http://localhost:8082
